@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    padding: 1.7rem 0;
    background: rgb(186, 135, 89);
    overflow: hidden;
    transition: width 0.5s;
    z-index: 1000;
}
.sidebar:hover {
    width: 350px;
    transition: width 0.5s linear;
}
.logo {
    list-style: none;
    padding: 0;
    margin-top: -1rem;
}
.logo-content {
    padding: 1rem;
    margin: 8px 8px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    color: rgb(50, 44, 43);
    font-size: 25px;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo1{
    max-width: 50px;

}
.logo-content span{
    opacity: 0;
    transition: opacity 0.5s;
}
.sidebar:hover .logo span {
    opacity: 1;
}
.menu {
    list-style: none;
    padding: 0;
    margin-top: 3.2rem;
}
.menu li {
    padding: 1rem 2rem;
    margin: 8px 8px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.logout li:hover,
.menu li.active {
    background-color: whitesmoke;
}
.menu a {
    color: rgb(50, 44, 43);
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span {
    opacity: 0;
    transition: opacity 0.5s;
}
.sidebar:hover .menu a span {
    opacity: 1;
}
.menu a i {
    font-size: 1.2rem;
}
.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
}
.logout a {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.logout a span {
    opacity: 0;
    transition: opacity 0.5s;
}

.sidebar:hover .logout a span {
    opacity: 1;
}

/* Main content styles */
.main {
    margin-left: 110px;
    padding: 1rem;
    width: calc(100% - 110px);
    background-color: rgb(230, 219, 202);
    transition: margin-left 0.5s, width 0.5s;
}
.sidebar:hover ~ .main {
    margin-left: 350px;
    width: calc(100% - 350px);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(186, 135, 89);
    border-radius: 10px;
    box-shadow: 10px gray;
    padding: 10px 2rem;
}
.header img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header_title {
    color: rgb(50, 44, 43);
    font-weight:500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.km-logo{
    border-radius: 0;
}
.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hello-admin {
    color: rgb(50, 44, 43);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
}
.filter-container {
    border-radius: 10px;
    background-color: rgb(230, 219, 202);
    display: flex;
    align-items: center;
    padding: 0 0 1.2rem 1.2rem;
    gap: 2rem;
    margin-left: 27px;
}
.filter-dropdown {
    padding: 1.2rem;
    width: 290px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filter-dropdown label {
    color: #322c2b;
    font-size: 14px;
    margin-bottom: 5px;
}

.filter-dropdown select {
    padding: 10px;
    font-size: 14px;
    color: #322c2b;
    background-color: white;
    border: 1px solid #623f20;
    border-radius: 5px;
    outline: none;
}

.filter-dropdown option {
    color:#322c2b;
    background-color: white;
}

/* Dropdown hover and focus effects */
.filter-dropdown select:hover {
    border-color:  #fc7f7f; 
}

.filter-dropdown select:focus {
    border-color:#ffa1a1; 
    box-shadow: 0 0 5px #ffa1a1; 
}

.scorecard_container {
    background-color: rgb(255, 252, 246);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
.scorecard_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.scorecard_title {
    color: rgb(50, 44, 43);
    padding-bottom: 10px;
    font-size: 20px;
}
.scorecard {
    background-color: rgb(230, 219, 202);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.scorecard:hover {
    transform: translateY(-5px);
}
.scorecard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 14px;
    font-weight: 500;
}
.amount_value {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.icon {
    color: #f7f7f7;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: rgb(186, 135, 89);
}
.scorecard_detail {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.chart_container {
    background-color: rgb(255, 252, 246);
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.chart_content {
    width: 100%;
    max-width: 30%;
    margin-bottom: 1rem;
}
.chart_content1 {
    width: 100%;
    max-width: 50%;
    margin-bottom: 1rem;
}
.chart_content_table {
    width: 100%;
    flex-grow: 1;
}
#doughnut {
    width: 100%;
    height: 100px;
}
.main_title_table {
    display: flex;
    justify-content: left;
}
#myTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    max-width: 100%;
}
#myTable thead tr {
    background-color: rgb(186, 135, 89);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
#myTable th,
#myTable td {
    padding: 12px 15px;
}
#myTable tbody tr {
    border-bottom: 1px solid #dddddd;
}
#myTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
#myTable tbody tr:last-of-type {
    border-bottom: 2px solid rgb(186, 135, 89);
}
#myTable tbody tr.active-row {
    font-weight: bold;
    color: rgb(186, 135, 89);
}

/* about us card */
.card_container {
    background-color: rgb(255, 252, 246);
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
.about{
    font: Helvetica;
    font-size: 4vw ;
}

#team-card{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.line-1{
    border: 1.8px solid;
    border-color: var(--coklat);
    width:100%;
    margin-top:2px;
    margin-bottom:2px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
}

.box{
    width: 250px;
    height: 350px;
    background-color: rgba(227, 222, 212, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.box:hover{
    transform: scale(1.01);
    transition: all ease 0.1s;
}

.top-card{
    width: 70%;
    height: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    top:0;
    transform: translate(-50%);
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.role{
    text-align: center;
    color:  rgb(186, 135, 89);
}

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.desc-box{
    width: 250px;
    height: 60px;
    background-color: white;
    padding: 5px 15px 10px 15px;
    text-align: left;
}
.long-name {
    font-size: 15px;
}
.long-university {
    font-size: 14.4px;
}

.very-long-university {
    font-size: 12px;
}
.description img{
    width: 200px;
    height: 200px;
    margin: 0px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.line-2{
    border: 1.5px solid;
    border-color: var(--coklat);
    width: 100%;
    margin-top:2px;
    margin-bottom:2px;
    align-content: center;
}

.socmed{
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    line-height: 45px;
    gap: 15px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(186, 135, 89);
    border-radius: 10px;
    box-shadow: 10px gray;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.footer_container{
    margin-top:4rem;
    padding: 2rem;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.company .logo{
    width: 60px;
    padding: 5px;
}

.contact-details .logo{
    width: 20px;
}


/* Responsive styles */
@media (max-width: 1200px) {
    .scorecard, .chart_content, .chart_content1 {
        width: 100%;
        max-width: 100%;
    }
    .main_title_table, #myTable {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .header, .header_title {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .scorecard, .chart_content, .chart_content1 {
        width: 100%;
        max-width: 100%;
    }
    .search_box {
        width: 100%;
    }
    .sidebar {
        max-width: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        transition: height 0.5s linear;
        margin-right: 30px;
    }
    .sidebar:hover {
        max-width: 300px;
        transition: height 0.5s linear;
    }
    .sidebar:hover ~ .main {
        margin-left: 300px;
        width: calc(100% - 250px);
    } 
    .main {
        margin-left: 100px;
        padding: 1rem 0.5rem;
        transition: margin-left 0.5s, width 0.5s;
    }
    .header {
        padding: 10px 1rem;
    }
    .chart_container, .filter-container {
        flex-direction: column;
        align-items: center;
    }
    #myTable {
        display: block;
        max-width: 100%;
        overflow-x: auto;
    }
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .scorecard, .chart_content, .chart_content1 {
        width: 100%;
        max-width: 100%;
    }
    .search_box {
        width: 100%;
    }
    .sidebar {
        max-width: 80px;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        transition: height 0.5s linear;
    }
    .sidebar:hover {
        max-width:250px;
        transition: height 0.5s linear;
    }
    .sidebar:hover ~ .main {
        margin-left: 250px;
        width: calc(100% - 250px);
    } 
    .main {
        margin-left: 80px;
        width: 100%;
        padding: 1rem 0.5rem;
        transition: margin-left 0.5s, width 0.5s;
    }
    .header {
        padding: 10px 1rem;
    }
    .chart_container, .chart_container1, .filter-container{
        flex-direction: column;
        align-items: center;
    }
    #myTable {
        display: block;
        max-width: 100%;
        overflow-x: auto;
    }

    .logo-content{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:612px){
    .box{
        flex-grow: 0.7;
    }
}
